.hidden {
  display: none;
}

/* .title_wrap .title {
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  line-height: 1.35em;
}

.title_more {
  float: right;
  color: #cbcbcb;
  text-decoration: underline;
  line-height: 1.5;
} */
.next {
  position: absolute;
  top: 50%;
  right: 75px;
  z-index: 1;
  background-color: transparent;
  background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png);
  background-position: -935px -179px;
  cursor: pointer;
  border: 0;
  width: 28px;
  height: 45px;
}

.prev {
  position: absolute;
  top: 50%;
  left: 75px;
  z-index: 1;
  background-color: transparent;
  background-image: url(https://mp-seoul-image-production-s3.mangoplate.com/web/resources/2018022864551sprites_desktop.png);
  background-position: -935px -230px;
  cursor: pointer;
  border: 0;
  width: 28px;
  height: 45px;
}

.container {
  width: 90vw;
  display: flex;
}

.inner-container {
  width: 3000px;
  display: flex;
  /* overflow: hidden; */
  transition: transform 0.5s;
}

/* .inner-container img {
  width: 100%;
  margin-bottom: 2vh;
  margin: 5% 10%; 
} */

.list {
  display: block;
  width: 30%;
  height: 100%;
  list-style: none;
  margin-left: 6vw;
  padding: 0;
  float: left;
}

.inner-image {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.slide_dots {
  display: flex;
}

.slide_dots li button {
  background-color: transparent;
  border: 0;
}
